[% content %]
[% FOREACH tags %]
[[!tag [% tag %]]]
[% END %]
[% IF title %]
[[!meta title="<TMPL_VAR TITLE ESCAPE=HTML>"]]
[% END %]
[% IF permalink %]
[[!meta permalink="<TMPL_VAR PERMALINK ESCAPE=HTML>"]]
[% END %]
[% IF copyright %]
[[!meta copyright="<TMPL_VAR COPYRIGHT ESCAPE=HTML>"]]
[% END %]
[[!meta author="<TMPL_VAR NAME ESCAPE=HTML>"]]
[[!meta authorurl="<TMPL_VAR URL ESCAPE=HTML>"]]
