<p>
[% IF permalink %]
<a href="[% permalink %]">[% title %]</a><br />
[% ELSE %]
<a href="[% pageurl %]">[% title %]</a><br />
[% END %]
<i>
Posted [% ctime %]
[% IF author %]
by <span class="author">
[% IF authorurl %]
<a href="[% authorurl %]">[% author %]</a>
[% ELSE %]
[% author %]
[% END %]
</span>
[% END %]
</i>
</p>
