<entry>
	<title>[% title %]</title>
[% IF guid %]
	<id>[% guid %]</id>
[% ELSE %]
	<id>[% url %]</id>
[% END %]
	<link href="[% permalink %]"/>
[% IF author %]
	<author><name><TMPL_VAR AUTHOR ESCAPE=HTML></name></author>
[% END %]
[% IF copyright %]
	<rights type="html" xml:lang="en">
[% IF license %]
		<TMPL_VAR LICENSE ESCAPE=HTML>
		<TMPL_VAR COPYRIGHT ESCAPE=HTML>
[% ELSE %]
		<TMPL_VAR COPYRIGHT ESCAPE=HTML>
[% END %]
	</rights>
[% ELSE %]
[% IF license %]
	<rights type="html" xml:lang="en">
	<TMPL_VAR LICENSE ESCAPE=HTML>
	</rights>
[% END %]
[% END %]
[% IF categories %]
[% FOREACH categories %]
	<category term="[% category %]" />
[% END %]
[% END %]
	<updated>[% mdate_3339 %]</updated>
	<published>[% cdate_3339 %]</published>
[% IF enclosure %]
	<link rel="enclosure" type="[% type %]" href="[% enclosure %]" length="[% length %]" />
[% ELSE %]
	<content type="html" xml:lang="en">
	<TMPL_VAR CONTENT ESCAPE=HTML>
	</content>
[% END %]
[% IF commentsurl %]
	<link rel="comments" href="[% commentsurl %]" type="text/html" />
[% END %]
[% IF atomcommentsurl %]
	<link rel="comments" href="[% atomcommentsurl %]" type="application/atom+xml" />
[% END %]
</entry>
