<?xml version="1.0" encoding="utf-8"?>

<feed xmlns="http://www.w3.org/2005/Atom">
<title>[% title %]</title>
<link href="[% pageurl %]"/>
<link href="[% feedurl %]" rel="self" type="application/atom+xml"/>
<author>
[% IF author %]
<name>[% author %]</name>
[% ELSE %]
<name>[% wikiname %]</name>
[% END %]
</author>
[% IF copyright %]
<rights type="html" xml:lang="en">
[% IF license %]
	[% license %]
	<TMPL_VAR COPYRIGHT ESCAPE=HTML>
[% ELSE %]
	<TMPL_VAR COPYRIGHT ESCAPE=HTML>
[% END %]
</rights>
[% ELSE %]
[% IF license %]
<rights type="html">
	<TMPL_VAR LICENSE ESCAPE=HTML>
</rights>
[% END %]
[% END %]
[% IF guid %]
<id>[% guid %]</id>
[% ELSE %]
<id>[% pageurl %]</id>
[% END %]
<subtitle type="html"><TMPL_VAR FEEDDESC ESCAPE=HTML></subtitle>
<generator uri="http://ikiwiki.info/" version="[% version %]">ikiwiki</generator>
<updated>[% feeddate %]</updated>
[% content %]
</feed>
