<form [% IF postformid %]id="<TMPL_VAR POSTFORMID ESCAPE=HTML>"[% END %] action="[% cgiurl %]" method="get">
<div class="blogform">
[% IF rssurl %]
<a class="feedbutton" type="application/rss+xml" rel="alternate" title="[% rssdesc %]" href="[% rssurl %]">RSS</a>
[% END %]
[% IF atomurl %]
<a class="feedbutton" type="application/atom+xml" rel="alternate" title="[% atomdesc %]" href="[% atomurl %]">Atom</a>
[% END %]
<input type="hidden" name="do" value="blog" />
<input type="hidden" name="from" value="[% rootpage %]" />
<input type="hidden" name="subpage" value="1" />
[% postformtext %]
<input name="title" size="40" />
<input type="submit" value="Edit" />
</div>
</form>
