[[!sidebar content="""
[[!calendar type=month month=[% month %] year=[% year %] pages="[% pagespec %]"]]
"""]]

[[!inline pages="creation_month([% month %]) and creation_year([% year %]) and [% pagespec %]" show=0 feeds=no reverse=yes]]
