[[!meta author="""[% author %]"""]]
[% IF authorurl %]
[[!meta authorurl="""[% authorurl %]"""]]
[% END %]
[[!meta title="""change to[% FOREACH pages %] [% page %][% END %] on [% wikiname %]"""]]
[% IF permalink %]
[[!meta permalink="[% permalink %]"]]
[% END %]
<div id="change-[% rev %]" class="metadata">
<span class="desc"><br />Changed pages:</span>
<span class="pagelinks">
[% FOREACH pages %]
[% IF diffurl %]<a href="[% diffurl %]" title="diff" rel="nofollow">[[diff|wikiicons/diff.png]]</a>[% link %]
[% ELSE %][% link %][% END %]
[% END %]
</span>
<span class="desc"><br />Changed by:</span>
<span class="committer">
[% IF authorurl %]
<a href="[% authorurl %]" rel="nofollow">[% user %]</a>
[% ELSE %]
[% user %]
[% END %]
</span>
<span class="desc"><br />Commit type:</span>
<span class="committype">[% committype %]</span>
<span class="desc"><br />Date:</span>
<span class="changedate">[% commitdate %]</span>
<span class="desc"><br /></span>
[% IF reverturl %]<span class="revert">
<a href="[% reverturl %]" title="revert" rel="nofollow">[[revert|wikiicons/revert.png]]</a>
</span>[% END %]
</div>
<div class="changelog">
[% FOREACH message %]
[% IF line %]
[% line %]<br />
[% END %]
[% END %]
</div>
[% IF diff %]
<div class="diff">
<pre>
[% diff %]
</pre>
</div>
[% END %]
<!-- [% rev %] -->
