[% IF html5 %]<article class="comment" id="[% commentid %]">
[% ELSE %]<div class="comment" id="[% commentid %]">[% END %]

[% IF commentauthoravatar %]<div class="comment-avatar">
<img src="[% commentauthoravatar %]" alt="" />
</div>[% END %]

[% IF html5 %]<header class="comment-subject">[% ELSE %]<div class="comment-subject">[% END %]
[% IF permalink %]
<a href="[% permalink %]">[% title %]</a>
[% ELSE %]
[% title %]
[% END %]
[% IF html5 %]</header>[% ELSE %]</div>[% END %]

[% IF html5 %]<section class="inlinecontent">[% ELSE %]<div class="inlinecontent">[% END %]
[% content %]
[% IF html5 %]</section>[% ELSE %]</div>[% END %]

[% IF html5 %]<header class="comment-header">[% ELSE %]<div class="comment-header">[% END %]
[% IF commentuser %]
Comment by
[% IF commentopenid %]
<span class="author" title="OpenID">
<a href="[% commentopenid %]">[% commentauthor %]</a>
</span>
[% ELSE %]
<span class="author" title="Signed in">
[% IF commentauthorurl %]
<a href="[% commentauthorurl %]">[% commentauthor %]</a>
[% ELSE %]
[% commentauthor %]
[% END %]
</span>
[% END %]
[% ELSE %]
[% IF author %]
Comment by
[% IF commentip %]
<span class="author" title="Unauthenticated, from [% commentip %]">
[% ELSE %]
<span class="author" title="Unauthenticated, from unknown IP address">
[% END %]
[% IF authorurl %]
<a href="[% authorurl %]">[% author %]</a>
[% ELSE %]
[% author %]
[% END %]
[% END %]
</span>
[% END %]
&mdash; [% ctime %]
[% IF html5 %]</header>[% ELSE %]</div>[% END %]

[% IF have_actions %]
[% IF html5 %]<nav class="actions">[% ELSE %]<div class="actions">[% END %]
<ul>
[% IF removeurl %]
<li><a href="[% removeurl %]" rel="nofollow">Remove comment</a></li>
[% END %]
</ul>
[% IF html5 %]</nav>[% ELSE %]</div>[% END %]
[% END %]

<div style="clear: both"></div>
[% IF html5 %]</article>[% ELSE %]</div>[% END %]
