[% javascript %]
[% message %]
<br />
[% form.start %]
[% form.field.do %]
[% form.field.sid %]
[% form.field.from %]
[% form.field.rcsinfo %]
[% form.field.newfile %]
[% IF page_select %]
<label for="page" class="inline">Page location:</label>[% form.field.page %]
<label for="type" class="inline">Page type:</label>[% form.field.type %]
[% ELSE %]
[% form.field.page %]
[% form.field.type %]
[% END %]
<div class="editcontentdiv">
[% form.field.editcontent %]<br />
</div>
[% IF can_commit %]
<label for="editmessage" class="block">Optional comment about this change:</label>
[% form.field.editmessage %]<br />
[% END %]
[% form.submit %]
[% helponformattinglink %]
[% IF field.attachment %]
<a class="toggle" href="#attachments">Attachments</a>
<div class="[% form.attachments_class %]" id="attachments">
<div id="fileupload"> 
<script>
$(function () { $('#fileupload').fileupload(); }); // initialize upload widget
</script>
<script id="template-upload" type="text/x-jquery-tmpl"> 
    <tr class="template-upload{{if error}} ui-state-error{{/if}}">
        <td><input type="checkbox" name="attachment_select" value="${name}" />${name}</td>
        {{if error}}
        <td class="error" colspan="2">failed!</td>
        {{else}}
        <td class="progress" colspan="2"><div></div></td>
        <td class="start"><button>Start</button></td>
        {{/if}}
        <td class="cancel"><button>Cancel</button></td>
    </tr>
</script> 
<script id="template-download" type="text/x-jquery-tmpl"> 
    <tr class="template-download{{if error}} ui-state-error{{/if}}">
        <td><input type="checkbox" checked name="attachment_select" value="${name}" />${name}</td>
        <td>${humansize}</td>
        {{if error}}
        <td class="error" colspan="2">failed!</td>
        {{else}}
        <td>${stored_msg}</td>
        {{/if}}
    </tr>
</script> 
<div class="fileupload-content">
<table class="files">
[% FOREACH attachment_list %]
<tr><td><input type="checkbox" name="attachment_select" value="<[% FILTER html %][% name %][% END %]">" />[% link %]</td><td>[% size %]</td><td>[% mtime %]</td></tr>
[% END %]
</table>
</div>
[% form.field.attachment %]
<noscript>[% form.field.upload %]</noscript>
[% form.field.link %][% form.field.rename %][% form.field.remove %]
</div> 
</div>
[% END %]
[% form.end %]
[% wmd_preview %]
[% IF page_preview %]
<hr />
<div class="header">
<span>Page preview:</span>
</div>
<div id="preview">
[% page_preview %]
</div>
[% END %]
[% IF page_diff %]
<hr />
<div class="header">
<span>Diff:</span>
</div>
<div id="diff">
[% page_diff %]
</div>
[% END %]
