<div [% IF id %]id="<TMPL_VAR ID ESCAPE=HTML>"[% END %] class="feedlink">
[% IF rssurl %]
<a class="feedbutton" type="application/rss+xml" rel="alternate" title="[% rssdesc %]" href="[% rssurl %]">RSS</a>
[% END %]
[% IF atomurl %]
<a class="feedbutton" type="application/atom+xml" rel="alternate" title="[% atomdesc %]" href="[% atomurl %]">Atom</a>
[% END %]
</div>
