[% IF html5 %]<article class="inlinepage">[% ELSE %]<div class="inlinepage">[% END %]

[% IF html5 %]<section class="inlineheader">[% ELSE %]<div class="inlineheader">[% END %]
[% IF author %]
<span class="author">
[% IF authorurl %]
<a href="[% authorurl %]">[% author %]</a>
[% ELSE %]
[% author %]
[% END %]
</span>
[% END %]
[% IF html5 %]<header class="header">[% ELSE %]<span class="header">[% END %]
[% IF permalink %]
<a href="[% permalink %]">[% title %]</a>
[% ELSE %]
<a href="[% pageurl %]">[% title %]</a>
[% END %]
[% IF html5 %]</header>[% ELSE %]</span>[% END %]
[% IF html5 %]</section>[% ELSE %]</div>[% END %]

[% IF html5 %]<section class="inlinecontent">[% ELSE %]<div class="inlinecontent">[% END %]
[% content %]
[% IF html5 %]</section>[% ELSE %]</div>[% END %]

[% IF html5 %]<footer class="inlinefooter">[% ELSE %]<div class="inlinefooter">[% END %]

<span class="pagedate">
Posted [% ctime %]
</span>

[% IF tags %]
[% IF html5 %]<nav class="tags">[% ELSE %]<span class="tags">[% END %]
Tags:
[% FOREACH tags %]
[% link %]
[% END %]
[% IF html5 %]</nav>[% ELSE %]</span>[% END %]
[% END %]

[% IF copyright %]
<div class="pagecopyright">
[% copyright %]
</div>
[% END %]

[% IF license %]
<div class="pagelicense">
License: [% license %]
</div>
[% END %]

[% IF have_actions %]
[% IF html5 %]<nav class="actions">[% ELSE %]<div class="actions">[% END %]
<ul>
[% IF editurl %]
<li><a href="[% editurl %]" rel="nofollow">Edit</a></li>
[% END %]
[% IF commentslink %]
<li>[% commentslink %]</li>
[% ELSE %]
[% IF discussionlink %]
<li>[% discussionlink %]</li>
[% END %]
[% END %]
</ul>
[% IF html5 %]</nav>[% ELSE %]</div>[% END %]
[% END %]

[% IF html5 %]</footer>[% ELSE %]</div>[% END %]

[% IF html5 %]</article>[% ELSE %]</div>[% END %]
