<div class="microblog">

<div class="inlinecontent">
[% content %]
</div>

<div class="microblog-header">

[% IF author %]
<span class="author">
[% IF authorurl %]
<a href="[% authorurl %]">[% author %]</a>
[% ELSE %]
[% author %]
[% END %]
</span>
[% END %]

&mdash; [% ctime %]

</div> <!--.microblog-header-->
</div> <!--.microblog-->
