<script type="text/javascript" src="ikiwiki/jquery.min.js"></script>
<script type="text/javascript" src="ikiwiki/openid/openid-jquery.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	openid.init('openid_identifier','[% IF nonopenidform %]nonopenidform[% END %]');
});
</script>

<noscript>
<h2>OpenID:</h2>
</noscript>

<form action="[% cgiurl %]" method="get" id="openid_form">
	<fieldset>
		<script>
		$('fieldset').append("<legend>Select your account provider</legend>");
		</script>
		
		<input type="hidden" name="do" value="signin" />
		<input type="hidden" name="action" value="verify" />
		<div id="openid_choice">
			<div id="openid_btns"></div>
		</div>
		<div id="openid_input_area">
			<label for="openid_identifier" class="block">Enter your OpenID:</label>
			<input id="openid_identifier" name="openid_identifier" type="text" value="[% openid_url %]"/>
			<input id="openid_submit" type="submit" value="Login"/>
		</div>
		[% IF openid_error %]
		<div class="error">[% openid_error %]</div>
		[% END %]
	</fieldset>
</form>

<div id="nonopenidform">
[% IF nonopenidform %]
<br />
<noscript>
<h2>Other:</h2>
</noscript>
[% END %]
[% nonopenidform %]
</div>
