[% IF html5 %]<!DOCTYPE html>
<html>
[% ELSE %]<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
[% END %]
<head>
[% IF dynamic %]
[% IF forcebaseurl %]<base href="[% forcebaseurl %]" />[% ELSE %]
[% IF baseurl %]<base href="[% baseurl %]" />[% END %]
[% END %]
[% END %]
[% IF html5 %]<meta charset="utf-8" />[% ELSE %]<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />[% END %]
<title>[% title %]</title>
[% IF favicon %]
<link rel="icon" href="[% baseurl %][% favicon %]" type="image/x-icon" />
[% END %]
<link rel="stylesheet" href="[% baseurl %]style.css" type="text/css" />
[% IF local_css %]
<link rel="stylesheet" href="[% baseurl %][% local_css %]" type="text/css" />
[% ELSE %]
<link rel="stylesheet" href="[% baseurl %]local.css" type="text/css" />
[% END %]
[% IF editurl %]
<link rel="alternate" type="application/x-wiki" title="Edit this page" href="[% editurl %]" />
[% END %]
[% IF feedlinks %][% feedlinks %][% END %]
[% IF relvcs %][% relvcs %][% END %]
[% IF meta %][% meta %][% END %]
</head>
<body>

[% IF html5 %]<article class="page">[% ELSE %]<div class="page">[% END %]

[% IF html5 %]<section class="pageheader">[% ELSE %]<div class="pageheader">[% END %]
[% IF html5 %]<header class="header">[% ELSE %]<div class="header">[% END %]
<span>
<span class="parentlinks">
[% FOREACH parentlinks %]
<a href="[% url %]">[% page %]</a>/ 
[% END %]
</span>
<span class="title">
[% title %]
[% IF istranslation %]
&nbsp;([% percenttranslated %]%)
[% END %]
</span>
</span>
[% IF searchform %]
[% searchform %]
[% END %]
[% IF html5 %]</header>[% ELSE %]</div>[% END %]

[% IF have_actions %]
[% IF html5 %]<nav class="actions">[% ELSE %]<div class="actions">[% END %]
<ul>
[% IF editurl %]
<li><a href="[% editurl %]" rel="nofollow">Edit</a></li>
[% END %]
[% IF recentchangesurl %]
<li><a href="[% recentchangesurl %]">RecentChanges</a></li>
[% END %]
[% IF historyurl %]
<li><a href="[% historyurl %]">History</a></li>
[% END %]
[% IF getsourceurl %]
<li><a href="[% getsourceurl %]">Source</a></li>
[% END %]
[% IF prefsurl %]
<li><a href="[% prefsurl %]">Preferences</a></li>
[% END %]
[% IF actions %]
[% FOREACH actions %]
<li>[% action %]</li>
[% END %]
[% END %]
[% IF commentslink %]
<li>[% commentslink %]</li>
[% ELSE %]
[% IF discussionlink %]
<li>[% discussionlink %]</li>
[% END %]
[% END %]
</ul>
[% IF html5 %]</nav>[% ELSE %]</div>[% END %]
[% END %]

[% IF otherlanguages %]
[% IF html5 %]<nav id="otherlanguages">[% ELSE %]<div id="otherlanguages">[% END %]
<ul>
[% FOREACH otherlanguages %]
<li>
<a href="[% url %]">[% language %]</a>
[% IF master %]
(master)
[% ELSE %]
&nbsp;([% percent %]%)
[% END %]
</li>
[% END %]
</ul>
[% IF html5 %]</nav>[% ELSE %]</div>[% END %]
[% END %]

[% IF html5 %]</section>[% ELSE %]</div>[% END %]

[% IF sidebar %]
[% IF html5 %]<aside class="sidebar">[% ELSE %]<div class="sidebar">[% END %]
[% sidebar %]
[% IF html5 %]</aside>[% ELSE %]</div>[% END %]
[% END %]

<div id="pagebody">

[% IF html5 %]<section id="content">[% ELSE %]<div id="content">[% END %]
[% content %]
[% IF html5 %]</section>[% ELSE %]</div>[% END %]

[% UNLESS dynamic %]
[% IF comments %]
[% IF html5 %]<section id="comments">[% ELSE %]<div id="comments">[% END %]
[% comments %]
[% IF addcommenturl %]
<div class="addcomment">
<a href="[% addcommenturl %]">Add a comment</a>
</div>
[% ELSE %]
<div class="addcomment">Comments on this page are closed.</div>
[% END %]
[% IF html5 %]</section>[% ELSE %]</div>[% END %]
[% END %]
[% END %]

</div>

[% IF html5 %]<footer id="footer" class="pagefooter">[% ELSE %]<div id="footer" class="pagefooter">[% END %]
[% UNLESS dynamic %]
[% IF html5 %]<nav id="pageinfo">[% ELSE %]<div id="pageinfo">[% END %]

[% IF tags %]
[% IF html5 %]<nav class="tags">[% ELSE %]<div class="tags">[% END %]
Tags:
[% FOREACH tags %]
[% link %]
[% END %]
[% IF html5 %]</nav>[% ELSE %]</div>[% END %]
[% END %]

[% IF backlinks %]
[% IF html5 %]<nav id="backlinks">[% ELSE %]<div id="backlinks">[% END %]
Links:
[% FOREACH backlinks %]
<a href="[% url %]">[% page %]</a>
[% END %]
[% IF more_backlinks %]
<span class="popup">...
<span class="balloon">
[% FOREACH more_backlinks %]
<a href="[% url %]">[% page %]</a>
[% END %]
</span>
</span>
[% END %]
[% IF html5 %]</nav>[% ELSE %]</div>[% END %]
[% END %]

[% IF copyright %]
<div class="pagecopyright">
<a name="pagecopyright"></a>
[% copyright %]
</div>
[% END %]

[% IF license %]
<div class="pagelicense">
<a name="pagelicense"></a>
License: [% license %]
</div>
[% END %]

<div class="pagedate">
Last edited [% mtime %]
<!-- Created [% ctime %] -->
</div>

[% IF html5 %]</nav>[% ELSE %]</div>[% END %]
[% IF extrafooter %][% extrafooter %][% END %]
[% END %]
<!-- from [% wikiname %] -->
[% IF html5 %]</footer>[% ELSE %]</div>[% END %]

[% IF html5 %]</article>[% ELSE %]</div>[% END %]

</body>
</html>
