Someone[1], possibly you, requested that the password for
[% user_name %] on [% wikiname %][2] be reset.

To change your password, visit the following url, and enter a new password:

[% passwordurl %]

This url can only be used once to change your password, and it will also
stop working the next time you successfully log in.

-- 
ikiwiki

[1] Their IP address was [% remote_addr %]
[2] Located at [% wikiurl %]
