<item>
[% IF author %]
	<title><TMPL_VAR AUTHOR ESCAPE=HTML>: [% title %]</title>
	<dcterms:creator><TMPL_VAR AUTHOR ESCAPE=HTML></dcterms:creator>
[% ELSE %]
	<title>[% title %]</title>
[% END %]
[% IF guid %]
	<guid isPermaLink="no">[% guid %]</guid>
[% ELSE %]
	<guid isPermaLink="no">[% url %]</guid>
[% END %]
	<link>[% permalink %]</link>
[% IF categories %]
[% FOREACH categories %]
	<category>[% category %]</category>
[% END %]
[% END %]
	<pubDate>[% cdate_822 %]</pubDate>
	<dcterms:modified>[% mdate_3339 %]</dcterms:modified>
[% IF enclosure %]
	<enclosure url="[% enclosure %]" type="[% type %]" length="[% length %]" />
[% ELSE %]
	<description><TMPL_VAR CONTENT ESCAPE=HTML></description>
[% END %]
[% IF commentsurl %]
	<comments>[% commentsurl %]</comments>
[% END %]
</item>
