<?xml version="1.0"?>
<rss version="2.0"
     xmlns:dc="http://purl.org/dc/elements/1.1/"
     xmlns:dcterms="http://purl.org/dc/terms/" >
<channel>
<title>[% title %]</title>
<link>[% pageurl %]</link>
<description><TMPL_VAR FEEDDESC ESCAPE=HTML></description>
[% content %]
</channel>
</rss>
